@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
body {
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
}

header {
  height: 90px;
  text-transform: uppercase;
}

header .header-img {
  display: none;
}

header .hamburger {
  float: right;
  margin-right: 2rem;
  margin-top: -1.25rem;
  display: none;
}

header img.logo {
  margin-left: 10.75rem;
  margin-top: 3.25rem;
}

header nav {
  float: right;
  margin-right: 10rem;
  margin-top: -2rem;
}

header nav a {
  margin-left: 2.25rem;
  text-decoration: none;
  font-size: .9rem;
  letter-spacing: 1px;
  color: #252b46;
}

header nav a:hover {
  color: #fa5757;
}

header button.login {
  margin-left: 2rem;
  text-transform: uppercase;
  background-color: #fa5757;
  color: white;
  border: none;
  border-radius: 5px;
  width: 110px;
  height: 40px;
  letter-spacing: 1px;
  font-weight: 500;
}

header button.login:hover {
  cursor: pointer;
  background-color: transparent;
  color: #fa5757;
  border: 2px solid #fa5757;
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
}

header .social {
  display: none;
}

.top {
  height: 1250px;
  overflow: hidden;
}

.top .top-word-box {
  width: 500px;
  margin-left: 11.5%;
  margin-top: 10rem;
}

.top .top-word-box h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #252b46;
}

.top .top-word-box p {
  color: #9194a1;
  margin-bottom: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.top .top-word-box button.chrome {
  background-color: #5368df;
  color: white;
  width: 160px;
  height: 45px;
  border: none;
  margin-right: 1rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: .75rem;
}

.top .top-word-box button.chrome:hover {
  border: 2px solid #5368df;
  color: #5368df;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.top .top-word-box button.firefox {
  background-color: rgba(22, 29, 63, 0.025);
  color: rgba(37, 43, 70, 0.85);
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 0px rgba(37, 43, 70, 0.045);
          box-shadow: 0px 4px 0px rgba(37, 43, 70, 0.045);
  font-weight: 500;
  font-size: .75rem;
}

.top .top-word-box button.firefox:hover {
  border: 2px solid rgba(37, 43, 70, 0.85);
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.top .img-box {
  margin-top: -21.5rem;
  float: right;
}

.top .img-box .blue-line {
  margin-top: -20.5rem;
  margin-left: 13rem;
  background-color: #5368df;
  height: 350px;
  width: 500px;
  border-bottom-left-radius: 200px;
}

.features {
  margin-top: -32rem;
}

.features .feature-word-box {
  width: 535px;
  text-align: center;
  margin: 0 auto;
}

.features .feature-word-box h2 {
  font-size: 1.9rem;
  color: #252b46;
}

.features .feature-word-box p {
  color: #9194a1;
  line-height: 1.5;
}

.features .tab-box {
  height: 700px;
  padding-top: 5rem;
}

.features .tab-box .tab-nav {
  width: 756px;
  border-bottom: 0.5px solid #9194a1;
  margin: 0 auto;
  height: 43px;
  margin-bottom: 3rem;
}

.features .tab-box .tab-nav .border {
  width: 100%;
  border-bottom: 0.5px solid #9194a1;
  border-top: 0.5px solid #9194a1;
  display: none;
}

.features .tab-box .tab-nav h3 {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 400;
  width: 250px;
  display: block;
  float: left;
  text-align: center;
  padding-bottom: 15px;
}

.features .tab-box .tab-nav h3:hover {
  cursor: pointer;
  color: #fa5757;
}

.features .tab-box img {
  margin-left: 10%;
  margin-top: 4.5rem;
}

.features .tab-box .blue-line {
  margin-top: -17rem;
  background-color: #5368df;
  height: 350px;
  width: 545px;
  border-bottom-right-radius: 200px;
}

.features .tab-box .tab-word-box {
  width: 450px;
  float: right;
  margin-top: -25rem;
  margin-right: 10%;
}

.features .tab-box .tab-word-box h3 {
  color: #252b46;
  font-size: 2rem;
}

.features .tab-box .tab-word-box p {
  color: #9194a1;
  line-height: 1.5;
}

.features .tab-box .tab-word-box button {
  background-color: #5368df;
  color: white;
  border: none;
  width: 115px;
  height: 46px;
  border-radius: 5px;
  font-weight: 500;
  font-size: .75rem;
}

.features .tab-box .tab-word-box button:hover {
  border: 2px solid #5368df;
  color: #5368df;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.extension-box .extension-word-box {
  width: 600px;
  margin: 0 auto 5rem auto;
  text-align: center;
}

.extension-box .extension-word-box h2 {
  color: #252b46;
  font-size: 1.9rem;
}

.extension-box .extension-word-box p {
  color: #9194a1;
}

.extension-box .extension-card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.extension-box .extension-card-box .extension-card {
  -webkit-box-shadow: 1px 10px 10px 0px rgba(145, 148, 161, 0.15);
          box-shadow: 1px 10px 10px 0px rgba(145, 148, 161, 0.15);
  width: 280px;
  height: 380px;
  margin-right: 2.75rem;
  border-radius: 10px;
}

.extension-box .extension-card-box .extension-card img.card-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.extension-box .extension-card-box .extension-card h3 {
  text-align: center;
  font-weight: 500;
}

.extension-box .extension-card-box .extension-card h4 {
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  color: #9194a1;
  margin-top: -.5rem;
}

.extension-box .extension-card-box .extension-card .add-install {
  width: 230px;
  height: 46px;
  border: none;
  color: white;
  background-color: #5368df;
  font-size: .9rem;
  border-radius: 5px;
  margin: 20px auto 0 auto;
  display: block;
  font-weight: 500;
}

.extension-box .extension-card-box .extension-card .add-install:hover {
  border: 2px solid #5368df;
  color: #5368df;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.extension-box .extension-card-box #card-firefox {
  margin-top: 2rem;
}

.extension-box .extension-card-box #card-opera {
  margin-top: 4rem;
}

.accordian-box {
  padding-bottom: 8rem;
}

.accordian-box .accordian-word-box {
  width: 35%;
  margin: 0 auto;
  text-align: center;
}

.accordian-box .accordian-word-box h2 {
  color: #252b46;
  font-size: 1.9rem;
}

.accordian-box .accordian-word-box p {
  color: #9194a1;
  line-height: 1.5;
}

.accordian-box .question-answer-box {
  width: 545px;
  margin: 3rem auto;
}

.accordian-box .accordion {
  background-color: transparent;
  line-height: .8;
  color: #252b46;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-top: 0.5px solid #9194a1;
  padding-top: 25px;
  padding-bottom: 15px;
}

.accordian-box #panel4 {
  border-bottom: 0.5px solid #9194a1;
}

.accordian-box .active, .accordian-box .accordion:hover {
  background-color: none;
  color: #fa5757;
}

.accordian-box .accordion:after {
  content: ' \276F';
  font-size: 1.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #5368df;
  font-weight: bold;
  float: right;
  margin-right: 5px;
}

.accordian-box .active:after {
  content: ' \276F';
  font-size: 1.5rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #fa5757;
  margin-right: 10px;
}

.accordian-box .panel {
  padding: 0 18px;
  color: #9194a1;
  line-height: 2;
  font-size: 1rem;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordian-box .panel p {
  margin-left: -.75rem;
  padding-bottom: 1rem;
}

.accordian-box .more-info {
  background-color: #5368df;
  color: white;
  border: none;
  width: 115px;
  height: 46px;
  border-radius: 5px;
  font-weight: 500;
  font-size: .75rem;
  display: block;
  margin: 0 auto;
}

.accordian-box .more-info:hover {
  border: 2px solid #5368df;
  color: #5368df;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.bottom {
  background-color: #5368df;
  height: 360px;
}

.bottom h4 {
  color: white;
  font-size: .75rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 4rem;
}

.bottom h2 {
  text-align: center;
  color: white;
  width: 35%;
  margin: 2rem auto;
  font-size: 2rem;
}

.bottom form {
  width: 450px;
  margin: 0 auto;
}

.bottom form input {
  width: 300px;
  border: none;
  height: 44px;
  border-radius: 5px;
}

.bottom form p {
  opacity: 0;
  color: white;
  font-size: .65rem;
  margin-top: .25rem;
  font-style: italic;
  margin-left: 1rem;
}

.bottom form .submit {
  float: right;
  margin-top: -4.5rem;
  width: 125px;
  height: 46px;
  border-radius: 5px;
  border: none;
  background-color: #fa5757;
  color: white;
  font-size: .75rem;
  font-weight: 500;
}

.bottom form .submit:hover {
  border: 2px solid #fa5757;
  color: #fa5757;
  cursor: pointer;
  background-color: white;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.bottom form ::-webkit-input-placeholder {
  padding-left: 2rem;
}

.bottom form :-ms-input-placeholder {
  padding-left: 2rem;
}

.bottom form ::-ms-input-placeholder {
  padding-left: 2rem;
}

.bottom form ::placeholder {
  padding-left: 2rem;
}

.bottom form .error input {
  background: url(../images/icon-error.svg) no-repeat scroll 95%;
  border: 1px solid #fa5757;
  border-bottom: 20px solid #fa5757;
  background-color: white;
}

.bottom form .error p {
  opacity: 1;
  display: block;
  margin-top: -1rem;
}

footer {
  height: 90px;
  background-color: #252b46;
}

footer .social {
  float: right;
  margin-right: 10%;
  margin-top: -1.5rem;
}

footer .social img {
  padding-left: 2rem;
}

footer .social img:hover {
  cursor: pointer;
  -webkit-filter: invert(54%) sepia(73%) saturate(5642%) hue-rotate(336deg) brightness(128%) contrast(94%);
          filter: invert(54%) sepia(73%) saturate(5642%) hue-rotate(336deg) brightness(128%) contrast(94%);
}

footer .logo-white {
  margin-left: 10.25rem;
  margin-top: 2rem;
}

footer nav {
  margin-left: 25rem;
  margin-top: -1.75rem;
}

footer nav a {
  padding-right: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75rem;
  color: white;
}

footer nav a:hover {
  cursor: pointer;
  color: #fa5757;
}

@media only screen and (max-width: 1300px) {
  .top .top-word-box {
    margin-left: 5%;
  }
  .features .tab-box .tab-word-box {
    margin-right: 2%;
  }
}

@media only screen and (max-width: 1225px) {
  .top .img-box img.hero {
    width: 550px;
    height: auto;
    margin-left: 10%;
    padding: 0;
  }
  .top .img-box .blue-line {
    height: 300px;
    margin-top: -17rem;
    width: 450px;
  }
  .top .top-word-box {
    width: 35%;
  }
  .top .top-word-box h1 {
    font-size: 2.25rem;
  }
  .features .tab-box .tab-word-box {
    width: 30%;
    margin-right: 5%;
  }
  .features .tab-box img {
    width: 500px;
    height: auto;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 975px) {
  body {
    overflow-x: hidden;
  }
  header img.logo {
    margin-left: 5%;
  }
  header nav {
    margin-right: 5%;
  }
  .top .img-box {
    margin-top: -25rem;
  }
  .top .img-box img.hero {
    width: 600px;
    height: auto;
    margin-left: 10%;
    padding: 0;
    margin-top: -25rem;
  }
  .top .img-box .blue-line {
    height: 300px;
    margin-top: -17rem;
    width: 600px;
    float: none;
  }
  .top .top-word-box {
    margin: 0 auto;
    width: 60%;
    margin-top: 40rem;
  }
  .top .top-word-box h1 {
    font-size: 2.25rem;
  }
  .features {
    height: 1300px;
    margin-top: -20rem;
  }
  .features .feature-tab img {
    margin-left: 25%;
  }
  .features .feature-tab .blue-line {
    width: 600px;
  }
  .features .tab-box .tab-word-box {
    width: 60%;
    float: none;
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;
  }
  .extension-box .extension-card-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding-bottom: 5rem;
  }
  .accordian-box .accordian-word-box {
    width: 60%;
  }
  .bottom h2 {
    width: 60%;
  }
  footer img.logo-white {
    margin-left: 5%;
  }
  footer .social {
    margin-right: 5%;
  }
  footer nav {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 750px) {
  .top .img-box img.hero {
    margin-left: 10%;
    width: 90%;
    height: auto;
  }
  .top .img-box .blue-line {
    margin-left: 40%;
  }
  .top .top-word-box h1 {
    text-align: center;
  }
  .top .top-word-box p {
    text-align: center;
  }
  .features {
    height: 1500px;
  }
  .features .tab-box .tab-nav {
    width: 90%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 0.5px solid #9194a1;
    border-top: 0.5px solid #9194a1;
  }
  .features .tab-box .tab-nav .tab {
    width: 30%;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .features .tab-box .tab-nav .border {
    display: block;
  }
}

@media only screen and (max-width: 675px) {
  header {
    margin-top: -1rem;
  }
  header img.hamburger {
    display: block;
    margin-right: 3rem;
    z-index: 99;
    position: relative;
  }
  header .nav {
    height: 650px;
    display: none;
    width: 375px;
    background-color: rgba(37, 43, 70, 0.975);
    height: 600px;
    z-index: 9;
    position: absolute;
    right: -1%;
    top: 5%;
  }
  header nav a {
    color: white;
    display: block;
    width: 80%;
    border-top: 0.25px solid #9194a1;
    border-bottom: 0.25px solid #9194a1;
    padding: 25px 0;
    text-align: center;
    letter-spacing: 2px;
  }
  header .open {
    display: block;
  }
  header .header-img {
    display: block;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  header button.login {
    width: 80%;
    background-color: transparent;
    border: 2px solid white;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 500;
  }
  header button.login:hover {
    background-color: white;
  }
  header .social {
    display: block;
    margin-top: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .social img {
    padding-right: 25px;
    padding-left: 25px;
  }
  .features {
    margin-top: -10rem;
  }
  .features .tab-box .feature-tab .tab-image {
    margin-left: 10%;
  }
  .features .tab-box .feature-tab .blue-line {
    width: 70%;
  }
  .features .tab-box .tab-word-box {
    text-align: center;
  }
  .features .tab-box .tab-word-box button {
    display: none;
  }
  .extension-box {
    margin-top: -5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .extension-box .extension-word-box {
    text-align: center;
    width: 80%;
  }
  .bottom {
    padding-bottom: 2rem;
  }
  .bottom h4 {
    width: 80%;
    margin: 0 auto;
  }
  .bottom h2 {
    width: 80%;
    margin: 2rem auto;
  }
  .bottom form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .bottom form input {
    width: 99.5%;
  }
  .bottom form .submit {
    width: 100%;
    margin-top: .5rem;
  }
  footer {
    height: 345px;
  }
  footer img.logo-white {
    margin-left: 35%;
    margin-right: auto;
    float: none;
  }
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  footer nav a {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
  footer .social {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: none;
    margin-left: -5%;
  }
}

@media only screen and (max-width: 600px) {
  .top .img-box {
    margin-top: -25rem;
  }
  .top .img-box img.hero {
    float: none;
    width: 80%;
    padding: 0;
    margin-left: 10%;
  }
  .top .img-box .blue-line {
    height: 250px;
    margin-top: -15rem;
  }
  .top .top-word-box {
    margin-top: 30rem;
    width: 80%;
  }
  .top .top-word-box button.chrome {
    margin-left: 10%;
  }
  .features {
    margin-top: -25rem;
  }
  .features .feature-word-box {
    width: 80%;
  }
  .features .tab-box .tab-nav .tab {
    width: 40%;
  }
  .features .feature-tab .tab-image {
    width: 80%;
  }
  .features .tab-word-box {
    width: 80% !important;
  }
  .features .tab-word-box h3 {
    width: 100%;
  }
  .extension-box {
    margin-top: -15rem;
  }
  .accordian-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .accordian-box .question-answer-box {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .top .img-box img.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -20rem;
    margin-left: 20%;
  }
  .top .top-word-box {
    margin-bottom: -5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top .top-word-box button.chrome {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .top .top-word-box button.firefox {
    margin-left: auto;
    margin-right: auto;
  }
  .features {
    margin-top: -17rem;
  }
  .features .feature-tab .blue-line {
    margin-top: -8rem;
    height: 200px;
  }
  .extension-box {
    margin-top: -10rem;
  }
}

@media only screen and (max-width: 450px) {
  .top .img-box img.hero {
    width: 70%;
    float: right;
  }
  .tab-box .tab-nav {
    min-height: 220px;
  }
  .extension-box .extension-word-box {
    width: 90%;
  }
  .accordian-box .accordian-word-box {
    width: 90%;
  }
  footer nav {
    width: 40%;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  body {
    max-width: 375px;
  }
  header .nav {
    width: 90%;
  }
  .top .img-box img.hero {
    width: 60%;
  }
  .top .img-box .blue-line {
    height: 200px;
    margin-left: 50%;
  }
  .top .top-word-box {
    width: 90%;
  }
  .features .tab-box .tab {
    width: 50% !important;
  }
  .features .tab-box .tab-nav {
    min-height: 200px;
  }
  .extension-box .extension-card-box {
    padding-left: 10%;
  }
  .accordian-box .question-answer-box {
    width: 100%;
  }
  .bottom {
    padding-bottom: 5rem;
  }
  footer nav {
    margin-left: 35%;
  }
}

@media only screen and (max-width: 320px) {
  .top .img-box img.hero {
    width: 50%;
  }
  .top .img-box .blue-line {
    height: 200px;
    margin-left: 60%;
  }
}
/*# sourceMappingURL=style.css.map */