@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);


body {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
}

header {
     height: 90px;
     text-transform: uppercase;
     .header-img {
         display: none;
     }
     .hamburger {
         float: right;
         margin-right: 2rem;
         margin-top: -1.25rem;
         display: none;
     }
     img.logo {
         margin-left: 10.75rem;
         margin-top: 3.25rem;
     }
     nav {
         float: right;
         margin-right: 10rem;
         margin-top: -2rem;
     }
     nav a {
         margin-left: 2.25rem;
         text-decoration: none;
         font-size: .9rem;
         letter-spacing: 1px;
         color: $veryDarkBlue
     }
     nav a:hover {
        color: $softRed;
     }
     button.login {
         margin-left: 2rem;
         text-transform: uppercase;
         background-color: $softRed;
         color: white;
         border: none;
         border-radius: 5px;
         width: 110px;
         height: 40px;
         letter-spacing: 1px;
         font-weight: 500;
     }
     button.login:hover {
         cursor: pointer;
         background-color: transparent;
         color: $softRed;
         border: 2px solid $softRed;
         transition: 500ms ease-in;
     }
     .social {
         
         display: none;
     }
}

.top {
    height: 750px;
    .top-word-box {
        width: 500px;
        margin-left: 11.5%;
        margin-top: 10rem;
        h1 {
            font-size: 3rem;
            font-weight: 500;
            color: $veryDarkBlue;
        }
        p {
            color: $grayishBlue;
            margin-bottom: 2rem;
            font-weight: 400;
            line-height: 1.5;
        }
        button.chrome {
            background-color: $softBlue;
            color: white;
            width: 160px;
            height: 45px;
            border: none;
            margin-right: 1rem;
            border-radius: 5px;
            font-weight: 500;
            font-size: .75rem;
        }

        button.chrome:hover {
            border: 2px solid $softBlue;
            color: $softBlue;
            cursor: pointer;
            background-color: transparent;
            transition: .5s ease-in;
        }

        button.firefox {
            background-color: rgba(22, 29, 63, 0.025);
            color: hsla(229, 31%, 21%, .85);
            width: 160px;
            height: 45px;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 4px 0px hsla(229, 31%, 21%, .045);
            font-weight: 500;
            font-size: .75rem;
        }
        button.firefox:hover {
            border: 2px solid hsla(229, 31%, 21%, .85);
            cursor: pointer;
            background-color: transparent;
            transition: .5s ease-in;
        }
    }
    .img-box {
        margin-top: -21.5rem;
        float: right;
        
        .blue-line {
            margin-top: -20.5rem;
            margin-left: 13rem;
            background-color: $softBlue;
            height: 350px;
            width: 500px;
            border-bottom-left-radius: 200px;
        }
    }
}

.features {
    margin-top: -12rem;
    .feature-word-box {
        width: 535px;
        text-align: center;
        margin: 0 auto;
        h2 {
            font-size: 1.9rem;
            color: $veryDarkBlue
        }
        p {
            color: $grayishBlue;
            line-height: 1.5;
        }
    }
    .tab-box {
        height: 700px;
       
        padding-top: 5rem;
        .tab-nav {
            width: 756px;
            border-bottom: .5px solid $grayishBlue;
            margin: 0 auto;
            height: 43px;
            margin-bottom: 3rem;
            .border {
                width: 100%;
                
                border-bottom: .5px solid $grayishBlue;
                border-top: .5px solid $grayishBlue;
                display: none;
            }
            h3 {
                margin-top: 5px;
                
                font-size: 1rem;
                font-weight: 400;
                width: 250px;
                display: block;
                float: left;
                text-align: center;
                padding-bottom: 15px;
            }
           h3:hover {
               cursor: pointer;
               color: $softRed;
               
           }
           
           
          
        }
        
        img {
            margin-left: 10%;
            margin-top: 4.5rem;
        }
        .blue-line {   
            margin-top: -17rem;
            background-color: $softBlue;
            height: 350px;
            width: 545px;
            border-bottom-right-radius: 200px;
        }
        .tab-word-box {
            width: 450px;
            float: right;
            margin-top: -25rem;
            margin-right: 10%;
            h3 {
                color: $veryDarkBlue;
                font-size: 2rem;
            }
            p {
                color: $grayishBlue;
                line-height: 1.5;
            }
            button {
                 background-color: $softBlue;
                 color: white;
                 border: none;
                 width: 115px;
                 height: 46px;
                 border-radius: 5px;
                 font-weight: 500;
            font-size: .75rem;
            }

            button:hover {
            border: 2px solid $softBlue;
            color: $softBlue;
            cursor: pointer;
            background-color: transparent;
            transition: .5s ease-in;
            }

        }

        }
    }

    .extension-box {
        .extension-word-box {
            width: 600px;
            margin: 0 auto 5rem auto;
            text-align: center;
            h2 {
                color: $veryDarkBlue;
                font-size: 1.9rem;
            }
            p {
                color: $grayishBlue;
            }
        }
        .extension-card-box {
            
            display: flex;
            height: 600px;
            justify-content: center;
            
            .extension-card {
                box-shadow: 1px 10px 10px 0px hsla(229, 8%, 60%, .15);
                width: 280px;
                height: 380px;
                margin-right: 2.75rem;
                border-radius: 10px;
                img.card-logo {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 4rem;
                }
                h3 {
                    text-align: center;
                    font-weight: 500;
                }
                h4 {
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 100;
                    color: $grayishBlue;
                    margin-top: -.5rem;
                }
                .add-install {
                    width: 230px;
                    height: 46px;
                    border: none;
                    color: white;
                    background-color: $softBlue;
                    font-size: .9rem;
                    border-radius: 5px;
                    margin: 20px auto 0 auto;
                    display: block;
                    font-weight: 500;
                }
                .add-install:hover {
                    border: 2px solid $softBlue;
            color: $softBlue;
            cursor: pointer;
            background-color: transparent;
            transition: .5s ease-in;
                }
            }
            #card-firefox {
                margin-top: 2rem;
            }
            #card-opera {
                margin-top: 4rem;
            }
        }
        
    }

    .accordian-box {
        padding-bottom: 8rem;
        .accordian-word-box {
            width: 35%;
            margin: 0 auto;
            text-align: center;
            h2 {
                color: $veryDarkBlue;
                font-size: 1.9rem;
            }
            p {
                color: $grayishBlue;
                line-height: 1.5;
            }
        }
        .question-answer-box {
            width: 545px;
            margin: 3rem auto;

        }
        .accordion {
            background-color: transparent;
            line-height: .8;
            color: $veryDarkBlue;
            cursor: pointer;
            
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            border-top: .5px solid $grayishBlue;
            padding-top: 25px;
            padding-bottom: 15px;
          }
          #panel4 {
              border-bottom: .5px solid $grayishBlue;
          }
          .active, .accordion:hover {
            background-color: none;
            color: $softRed;
          }
          
          .accordion:after {
            content: ' \276F';
            font-size: 1.5rem;
            transform: rotate(90deg);
            color: $softBlue;
            font-weight: bold;
            float: right;
            margin-right: 5px;
          }
          
          .active:after {
            content: ' \276F';
            font-size: 1.5rem;
            transform: rotate(270deg);
            color: $softRed;
            margin-right: 10px;
          }
          
          .panel {
            padding: 0 18px;
            color: $grayishBlue;
            line-height: 2;
            font-size: 1rem;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            p {
                margin-left: -.75rem;
                padding-bottom: 1rem;
            }
          }

          .more-info {
            background-color: $softBlue;
            color: white;
            border: none;
            width: 115px;
            height: 46px;
            border-radius: 5px;
            font-weight: 500;
       font-size: .75rem;
       display: block;
       margin: 0 auto;
       }

       .more-info:hover {
       border: 2px solid $softBlue;
       color: $softBlue;
       cursor: pointer;
       background-color: transparent;
       transition: .5s ease-in;
       }
    }

    .bottom {
        background-color: $softBlue;
        height: 360px;
        h4 {
            
            color: white;
            font-size: .75rem;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 4px;
            padding-top: 4rem;
        }
        h2 {
            text-align: center;
            color: white;
            width: 35%;
            margin: 2rem auto;
            font-size: 2rem;
        }
        form {
            width: 450px;
            margin: 0 auto;
            input {
                width: 300px;
                border: none;
                height: 44px;
                border-radius: 5px;
            }
            p {
                opacity: 0;
                color: white;
                font-size: .65rem;
                margin-top: .25rem;
                font-style: italic;
                margin-left: 1rem;
            }
            
            .submit {
               
                float: right;
                margin-top: -4.5rem;
                width: 125px;
                height: 46px;
                border-radius: 5px;
                border: none;
                background-color: $softRed;
                color: white;
                font-size: .75rem;
                font-weight: 500;
            }
            .submit:hover {
                border: 2px solid $softRed;
                color: $softRed;
                cursor: pointer;
                background-color: white;
                transition: .5s ease-in;
            }
            ::placeholder {
                padding-left: 2rem;
            }
            .error {
                input {
                   background: url(../images/icon-error.svg) no-repeat scroll 95%;
                    border: 1px solid $softRed;
                    border-bottom: 20px solid $softRed;
                    background-color: white;
                }
                p {
                    opacity: 1;
                    display: block;
                    margin-top: -1rem;
                }
                
            }
        }
       
    }

    footer {
        height: 90px;
        background-color: $veryDarkBlue;
        .social {
            float: right;
            margin-right: 10%;
            margin-top: -1.5rem;
            img {
                padding-left: 2rem;
            }
            img:hover {
               cursor: pointer;
               filter: invert(54%) sepia(73%) saturate(5642%) hue-rotate(336deg) brightness(128%) contrast(94%);
            }
        }
        .logo-white {
            margin-left: 10.25rem;
            margin-top: 2rem;
        }
        nav {
            margin-left: 25rem;
            margin-top: -1.75rem;
        }
        nav a {
            padding-right: 3rem;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .75rem;
            color: white;
            
            
        }
        nav a:hover {
            cursor: pointer;
            color: $softRed;
            
            
        }
    }



    @media only screen and (max-width: 1300px) {
        .top {
            .top-word-box {
                margin-left: 5%;
            }

        }
        .features {
            .tab-box {
                .tab-word-box {
                    
                    margin-right: 2%;
                }
            }
        }
        
    }

    @media only screen and (max-width: 1225px) {
        .top {
            .img-box {
                img.hero {
                    width: 550px;
                    height: auto;
                    margin-left: 10%;
                    padding: 0;
                }
                .blue-line {
                    height: 300px;
                    margin-top: -17rem;
                    width: 450px;
                    
                }
            }
            .top-word-box {
                width: 35%;
                h1 {
                    font-size: 2.25rem;
                    
                }
               
            }

        }
        .features {
            .tab-box {
                .tab-word-box {
                    width: 30%;
                    margin-right: 5%;
                    
                }
                img {
                    width: 500px;
                    height: auto;
                    margin-left: 5%;
                }
            }
       
            }
        }


        @media only screen and (max-width: 975px) {
            body {
                overflow-x: hidden;
            }
            header {
                img.logo {
                    margin-left: 5%;
                }
                nav {
                    margin-right: 5%;
                }
            }
            .top {
                .img-box {
                    margin-top: -25rem;
                    img.hero {
                        width: 600px;
                        height: auto;
                        margin-left: 10%;
                        padding: 0;
                        margin-top: -25rem
                    }
                    .blue-line {
                        height: 300px;
                        margin-top: -17rem;
                        width: 600px;
                        float: none;
                        
                    }
                }
                .top-word-box {
                    margin: 0 auto;
                    width: 60%;
                    margin-top: 40rem;
                    h1 {
                        font-size: 2.25rem;
                        
                    }
                   
                }
            }
            .features {
                height: 1300px;
                margin-top: -20rem;
                .feature-tab {
                    img {
                    margin-left: 25%;
                    }
                    .blue-line {
                        width: 600px;
                    }
                }
                .tab-box {
                    .tab-word-box {
                        width: 60%;
                        float: none;
                       margin-top: 5rem;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
            }
            .extension-box {
                .extension-card-box {
                    display: flex;
                    flex-wrap: wrap;
                    height: auto;
                    padding-bottom: 5rem;
                }
            }
            .accordian-box {
                .accordian-word-box {
                    width: 60%;
                }
            }
            .bottom {
                h2 {
                    width: 60%;
                }
            }
            footer {
                img.logo-white {
                    margin-left: 5%;
                }
                .social {
                    margin-right: 5%;
                }
                nav {
                    margin-left: 30%;
                }
            }

        }

        @media only screen and (max-width: 750px) {
            .top {
                .img-box {
                    img.hero {
                        margin-left: 10%;
                        width: 90%;
                        height: auto;
                    }
                    .blue-line {
                        margin-left: 40%;
                    }
                }
                .top-word-box {
                    h1 {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                }
               
            }
            .features {
                height: 1500px;
                .tab-box {
                    .tab-nav {
                        width: 90%;
                        height: 200px;
                        display: flex;
                        flex-direction: column;
                        border-bottom: .5px solid $grayishBlue;
                        border-top: .5px solid $grayishBlue;
                        .tab {
                            width: 30%;
                            margin: 0 auto;
                            padding-top: 23px;
                            padding-bottom: 23px;
                        }
                        .border {
                            display: block;
                        }
                     
                    }
                }
            }
        }


        @media only screen and (max-width: 675px) {
            header {
                margin-top: -1rem;
                img.hamburger {
                    display: block;
                    margin-right: 3rem;
                    z-index: 99;
                    position: relative;
                }
                .nav {
                    height: 650px;
                    display: none;
                    width: 375px;
                    background-color: hsla(229, 31%, 21%, 0.9);
                    height: 600px;
                    z-index: 9;
                    position: absolute;
                    right: -1%;
                    top: 5%;
                    

                }
                nav a {
                  
                  color: white;
                  display: block;
                  width: 80%;
                  border-top: 0.25px solid $grayishBlue;
                  border-bottom: 0.25px solid $grayishBlue;
                  padding: 25px 0;
                  text-align: center;
                  letter-spacing: 2px;
                }
                .open {
                    display: block;
                    
                }
                .header-img {
                    display: block;
                    margin-top: 2rem;
                    margin-left: 2rem;
                    margin-bottom: 2rem;
                }
                button.login {
                    width: 80%;
                    background-color: transparent;
                    border: 2px solid white;
                    font-size: 1rem;
                    margin-top: 2rem;
                    font-weight: 500;
                }
                button.login:hover {
                    background-color: white;
                }
                .social {
                    display: block;
                    margin-top: 10rem;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                }
                .social img {
                    padding-right: 25px;
                    padding-left: 25px;
                }
            }
            

            .features {
                .tab-box {
                    .feature-tab {
                        .tab-image {
                            margin-left: 10%;
                        }
                        .blue-line {
                            width: 70%;
                        }

                    }
                    .tab-word-box {
                        text-align: center;
                        button {
                            display: none;
                        }
                    }



                }
            }
            .extension-box {
                margin-top: -5rem;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                .extension-word-box {
                    text-align: center;
                    width: 80%;
                }
            }
            .bottom {
                padding-bottom: 2rem;
                h4 {
                    width: 80%;
                    margin: 0 auto;
                }
                h2 {
                    width: 80%;
                    margin: 2rem auto;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    
                    input {
                        width: 99.5%;
                    }
                    .submit {
                        width: 100%;
                        margin-top: .5rem;
                    }

                }
            }
            footer {
               height: 345px;
               img.logo-white {
                 margin-left: 35%;
                 margin-right: auto;
                 float: none;
               }
               nav {
                   display: flex;
                   flex-direction: column;
                   margin-top: 3rem;
                   margin-left: auto;
                   margin-right: auto;
                   text-align: center;
               }
               nav a {
                font-size: 1rem;
                padding-bottom: 2rem;
               
               }
               .social {
                   margin-top: 2rem;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   float: none;
                   margin-left: -5%;
               }

            }
          
        }
    
